<div class="wrapper">
  <div class="neon-wrapper">
    <div class="neon-text">NEON COCKTAILS</div>
  </div>
  <div class="arrow bounce">
    <i class="fa fa-angle-down fa-5x" aria-hidden="true"></i>
  </div>
</div>
<div class="background below>
  <div class="cards-container">
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <% if cocktail.photo.attached? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 250, crop: :fill %>')">
            <%= link_to cocktail_path(cocktail) do %>
              <h2><%= cocktail.name %></h2>
            <% end %>
          </div>
        <% else %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
            <%= link_to cocktail_path(cocktail) do %>
              <h2><%= cocktail.name %></h2>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
